@import "partials/_common";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    body{
        font-family: 'Barlow condensed','sans-serif';
        .container{
            .btn{
                @include btn;
                margin: 0 1rem;
                font-size: 21px;
                transition: all 0.4s linear 0s;
            }
            .bluee{
                background-color: $dodger-blue;
                color: white;
                &:hover{
                    background-color: $monza;
                }
            }
            .redd{
                background-color: $red-strong;
                &:hover{
                    opacity: 0.8;
                }

            }
            .transp{
                border: 1px solid $white;
                &:hover{
                    background-color: $white;
                    color: $cold-gray;
                }
            }
            .placeholder-img{
                width: 100px;
            }
            .play{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center ;
                height: 70px;
                width: 70px;
                background-color: $white;
                border-radius: 50%;
                transition: all 0.4s linear 0s;
                &:hover{
                    color: red
                }
            }
            a{
                @include a-simple;
            }
            header{
                height: 100px;
                @include padding-left-right;
                background-color:$cold-gray;
                nav{
                    @include display-flex-separed-two-items;
                    height: 100%;
                    color:$silver;
                    .nav-right ul{
                        @include display-flex;
                        list-style-type: none;
                        li{
                            @include capitalize;
                            @include margin-tot;
                            a{
                                &:hover{
                                    color: white;
                                }
                            }
                        }

                    }
                }
            }
            main{
                // jumbo
                .jumbo{
                    @include padding-left-right;
                    position: relative;
                    background-image: linear-gradient(90deg, black 35%, rgba(6, 6, 7, 0) 75%), url(img/jumbo.jpg);
                    background-size: cover;
                    .play{
                        top: 50%;
                        left: 75%;
                    }
                    .jumboDescription{
                        @include display-flex-column-evenly;
                        color: $white;
                        height: calc(80vh - 100px);
                        justify-content: center;
                        h1{
                            @include h1;
                        }
                        >*{
                            @include margin-top-bottom
                        }
                        h4{
                            color: $red-strong;
                        }
                        h5{
                            color: $silver;
                        }
                        >div{
                            margin: 2rem 2rem 2rem 0rem ;
                            .btn{
                                margin-left: 0;
                            }
                        }
                    }
                }
                //sezione carte
                .card{
                    @include padding-left-right;
                    background-image: linear-gradient(150deg, $dodger-blue , $shiraz );
                    position: relative;
                    .cardSet{
                        @include img-up;
                        @include display-flex;
                        .cardSet_single{
                            @include cardSetOfthree;
                            @include img-in-card;
                            justify-content: flex-end;
                            @include padding-tot;
                            height: 400px;
                            .placeholder-img{
                                width: 50px;
                            }
                            h2{
                                color: $white;
                                font-size: 1.4rem;
                            }
                            h4{
                                color: $yellow;
                            }
                        }
                        .first{
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/card-second.jpg);
                        }
                        .second{
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/card-first.jpg);
                        }
                        .third{
                            margin-right: 0px;
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/box3-2x.jpg);
                        }



                    }
                    .cardPhrase{
                        @include display-flex;
                        @include margin-top-bottom;
                        @include padding-bottom;
                        color: $white;
                        flex-direction: column;
                        text-align: center;
                        flex-wrap: wrap;
                        font-size: 3rem;
                        .placeholder-img{
                            width: 50px;
                        }
                        .author{
                            @include display-flex;
                            justify-content: center;
                            align-items: center;
                            color: $silver;

                            img{
                                border-radius: 50%;
                                height: 70px;
                                margin-right: 10px;
                            }
                            span:nth-child(3){
                                font-size: 0.8rem;
                                color: $silver;
                            }
                            span:nth-child(2){
                                color: $white;
                                font-size: 1rem;
                                margin-right: 10px;
                            }
                        }
                    }



                }
                //sezione slogan
                .slogan{
                    position: relative;
                    @include display-flex;
                    >div{
                        flex-basis: 50%;
                        img{
                            width: 100%;
                        }
                    }
                    .sloganVideo{
                        @include img-up;
                    }
                    .sloganDescription{
                        @include padding-left-right;
                        @include display-flex-column-evenly;
                        justify-content: center;
                        >*{
                            @include margin-top-bottom;
                        }
                        h4{
                            color: $royal-blue;
                        }
                        h2{
                            @include h2;
                        }
                        h5{
                            color: $silver;
                        }
                        a{
                            align-self:flex-start ;
                            color: $white;
                        }
                    }
                }
                .videoCard{
                    @include padding-left-right;
                    .videoCard-title{
                        @include display-flex-separed-two-items;
                        font-size: 24px;
                        margin-bottom: 10px;
                        a:hover{
                            text-decoration: underline;
                        }
                        span:nth-child(2){
                            a{
                                transition: all 0.4s linear 0s;
                                &:hover{
                                color: $royal-blue;
                            }
                            }
                        }
                    }
                    .videoShow{
                        @include display-flex;
                        @include padding-bottom;
                        .videoShow-single{
                            @include cardSetOfthree;
                            align-items: center;
                            >div{
                                position: relative;
                                img{
                                    @include img-in-card;
                                    position: relative;
                                    box-shadow: none;
                                    width: 100%;
                                    @include margin-top-bottom;
                                }
                                .play{
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                            h3{
                                @include h3;
                                
                            }
                            h4{
                                @include h4;
                            }
                        }
                        div:nth-child(3){
                            margin-right: 0px;

                        }

                    }

                }





            }





        }
            
            

    }
}