@import "partials/_common";
@import "partials/_effect";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    #app{
        font-family: 'Barlow condensed','sans-serif';
    }
    body{
        font-family: 'Barlow condensed','sans-serif';
        .container{
            .btn{
                @include btn;
                margin: 0 1rem;
                font-size: 21px;
                transition: all 0.4s linear 0s;
            }
            .bluee{
                background-color: $dodger-blue;
                color: white;
                &:hover{
                    background-color: $monza;
                }
            }
            .redd{
                background-color: $red-strong;
                &:hover{
                    opacity: 0.8;
                }

            }
            .transp{
                border: 1px solid $white;
                &:hover{
                    background-color: $white;
                    color: $cold-gray;
                }
            }
            .placeholder-img{
                width: 100px;
            }
            .play{
                position: absolute;
                @include display-flex-column-center-center;
                height: 70px;
                width: 70px;
                background-color: $white;
                border-radius: 50%;
                transition: all 0.4s linear 0s;
                &:hover{
                    color: red
                }
            }
            a{
                @include a-simple;
            }
            header{
                height: 100px;
                @include padding-left-right;
                background-color:$cold-gray;
                nav{
                    @include display-flex-separed-two-items;
                    height: 100%;
                    color:$silver;
                    .nav-right ul{
                        @include display-flex;
                        list-style-type: none;
                        li{
                            @include capitalize;
                            @include margin-tot;
                            a{
                                &:hover{
                                    color: white;
                                }
                            }
                        }

                    }
                }
            }
            main{
                //  animation
                // @keyframes upToDown {
                //      0%   { top:-15%;opacity: 0;} 
                //     100% { top:0%; opacity: 1;}
                // }
                @keyframes downToUp {
                     0%   { top:15%;opacity: 0;} 
                    100% { top:0%; opacity: 1;}
                }
                @keyframes fadein {
                     0%   { opacity: 0;} 
                    100% {  opacity: 1;}
                }

                @include  upToDown;







                // jumbo
                .jumbo{
                    @include padding-left-right;
                    height: 700px;
                    position: relative;
                    background-image: linear-gradient(90deg, black 55%, rgba(6, 6, 7, 0) 75%), url(img/jumbo.jpg);
                    background-size: cover;
                    .play{
                        top: 50%;
                        left: 75%;
                    }
                    .jumboDescription{
                        @include display-flex-column-center;
                        position: relative;
                        color: $white;
                        height:  100%;
                        animation: upToDown 1s 1 ;
                        animation: fadein 1s 1 ;
                        transition: all 1s linear;
                        h1{
                            @include h1;
                        }
                        >*{
                            @include margin-top-bottom
                        }
                        h4{
                            color: $red-strong;
                        }
                        h5{
                            color: $silver;
                        }
                        >div{
                            margin: 2rem 2rem 2rem 0rem ;
                            .btn{
                                margin-left: 0;
                            }
                        }
                    }
                }
                //sezione carte
                .card{
                    @include padding-left-right;
                    background-image: linear-gradient(150deg, $dodger-blue , $shiraz );
                    position: relative;
                    .cardSet{
                        @include img-up;
                        @include display-flex;
                        .cardSet_single{
                            @include cardSetOfthree;
                            @include img-in-card;
                            justify-content: flex-end;
                            @include padding-tot;
                            height: 400px;
                            .placeholder-img{
                                width: 50px;
                            }
                            h2{
                                color: $white;
                                font-size: 1.4rem;
                            }
                            h4{
                                color: $yellow;
                            }
                        }
                        .first{
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/card-second.jpg);
                        }
                        .second{
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/card-first.jpg);
                        }
                        .third{
                            margin-right: 0px;
                            background-image:linear-gradient(rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%), url(img/box3-2x.jpg);
                        }



                    }
                    .cardPhrase{
                        @include display-flex;
                        @include margin-top-bottom;
                        @include padding-bottom;
                        color: $white;
                        flex-direction: column;
                        text-align: center;
                        flex-wrap: wrap;
                        font-size: 3rem;
                        .placeholder-img{
                            width: 50px;
                        }
                        .author{
                            @include display-flex;
                            justify-content: center;
                            align-items: center;
                            color: $silver;

                            img{
                                border-radius: 50%;
                                height: 70px;
                                margin-right: 10px;
                            }
                            span:nth-child(3){
                                font-size: 0.8rem;
                                color: $silver;
                            }
                            span:nth-child(2){
                                color: $white;
                                font-size: 1rem;
                                margin-right: 10px;
                            }
                        }
                    }



                }
                //sezione slogan
                .slogan{
                    position: relative;
                    @include display-flex;
                    >div{
                        flex-basis: 50%;
                        img{
                            width: 100%;
                        }
                    }
                    .sloganVideo{
                        @include img-up;
                    }
                    .sloganDescription{
                        @include padding-left-right;
                        @include display-flex-column-center;
                        >*{
                            @include margin-top-bottom;
                        }
                        h4{
                            color: $royal-blue;
                        }
                        h2{
                            @include h2;
                        }
                        h5{
                            color: $silver;
                        }
                        a{
                            align-self:flex-start ;
                            color: $white;
                        }
                    }
                }
                .videoCard{
                    @include padding-left-right;
                    .videoCard-title{
                        @include display-flex-separed-two-items;
                        font-size: 24px;
                        margin-bottom: 10px;
                        a:hover{
                            text-decoration: underline;
                        }
                        span:nth-child(2){
                            a{
                                transition: all 0.4s linear 0s;
                                &:hover{
                                color: $royal-blue;
                            }
                            }
                        }
                    }
                    .videoShow{
                        @include display-flex;
                        @include padding-bottom;
                        .videoShow-single{
                            @include cardSetOfthree;
                            align-items: center;
                            >div{
                                position: relative;
                                img{
                                    @include img-in-card;
                                    position: relative;
                                    box-shadow: none;
                                    width: 100%;
                                    @include margin-top-bottom;
                                }
                                .play{
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                            h3{
                                @include h3;
                                
                            }
                            h4{
                                @include h4;
                            }
                        }
                        div:nth-child(3){
                            margin-right: 0px;

                        }

                    }

                }
                .newsletter{
                    padding-top: 80px;
                    padding-bottom: 80px;
                    height: 100%;
                    background-image: linear-gradient(90deg, black 35%, rgba(6, 6, 7, 0) 75%),
                    url(img/newsletter.jpg);
                    background-size:cover ;
                    .newsletterDescription{
                        @include padding-left-right;
                        @include display-flex-column-center;
                        width: 60%;
                        color: white;
                        >*{
                            @include margin-top-bottom;
                        }
                        h4{
                            font-size: 28px;
                            a{
                                color: $burnt-sienna;
                                :hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        .newsTitle{
                            font-size: 60px;
                        }
                        >div{
                            @include display-flex;
                            input{
                                flex:1;
                                border-radius: 2rem;
                                border: none;
                                outline: none;
                                padding-left:2rem;
                                padding-right:2rem;
                                font-size: 1.6rem;
                            }
                        }
                        span:nth-child(5){
                            color: $silver;
                        }
                    }
                }
                .features{
                    @include display-flex;
                    @include padding-left-right;
                    @include padding-bottom;
                    padding-top:50px ;
                    padding-bottom:50px ;
                    background-color:black ;

                    .featuresCard{
                        @include cardSetOfthree;
                        @include display-flex-column-evenly;
                        @include padding-tot;
                        border-radius: 5px;
                        border:2px $royal-blue solid ;
                        font-size: 18px;
                        color: white;
                        text-align: center;
                        >div{
                            @include padding-tot;
                            img{
                                width: 30%;
                            }
                        }
                        &:nth-child(3){
                            margin-right: 0;
                        }
                        span:nth-child(2){
                            font-size: 28px;
                        }
                        span:nth-child(3){
                            font-size: 24px;
                            color: $yellow;
                        }
                        span:nth-child(4){
                            @include padding-tot;
                            color: $silver;
                        }
                    }
                    
                }
                .last-articles{
                    @include padding-left-right;
                    .article-title{
                        @include display-flex-separed-two-items;
                        font-size: 24px;
                        margin-bottom: 10px;
                        a:hover{
                            text-decoration: underline;
                        }
                        span:nth-child(2){
                            a{
                                transition: all 0.4s linear 0s;
                                &:hover{
                                color: $royal-blue;
                            }
                            }
                        }
                    }
                    .article{
                        @include display-flex;
                        @include margin-top-bottom;
                        @include padding-bottom;
                        .article-single{
                            @include cardSetOfthree;
                            align-items: flex-start;
                            transition: all 0.4s linear 0s;
                            .article-single-img{
                                flex: 1;
                                width: 100%;
                                a {
                                    height: 220px;
                                    display: block;
                                    background-size: cover;
                                }
                            }
                            h3{
                                @include h3;
                                
                            }
                            h4{
                                @include h4;
                            }
                        }
                        .article-single:nth-child(1) .article-single-img a{
                            background-image: url(img/blog4-2x.jpg);
                            &:hover{
                                background-image: linear-gradient(to top,$royal-blue 0,rgba(65,84,255,0) 100%) , url(img/blog4-2x.jpg);
                            }
                        }
                        .article-single:nth-child(2) .article-single-img a{
                            background-image: url(img/blog1-2x.jpg);
                            &:hover{
                                background-image: linear-gradient(to top,$royal-blue 0,rgba(65,84,255,0) 100%) , url(img/blog1-2x.jpg);
                            }
                        }
                        .article-single:nth-child(3) .article-single-img a{
                            background-image: url(img/blog3-2x.jpg);
                            &:hover{
                                background-image: linear-gradient(to top,$royal-blue 0,rgba(65,84,255,0) 100%) , url(img/blog3-2x.jpg);
                            }
                        }
                        div:nth-child(3){
                            margin-right: 0px;

                        }

                    }

                }
                .callToAction{
                    @include padding-left-right;
                    @include padding-bottom;
                    padding-top: 50px;
                    background-image: linear-gradient(rgba(0, 2, 17, 0.16) 0%, rgb(0, 2, 17) 100%), url(img/callToActionImg.jpg);
                    background-size: cover;
                    position: relative;
                    .callToActionPhrase{
                        @include display-flex-column-evenly;
                        @include padding-bottom;
                        @include padding-left-right;
                        align-items: center;
                        font-size: 39px;
                        color: $white;
                        text-align: center;
                        flex-wrap: wrap;
                        font-size: 3rem;
                        >*{
                            @include padding-tot;
                        }
                        .placeholder-img{
                            width: 100px;
                        }
                        span:nth-child(2){
                            font-size: 23px;
                        }

                    }

                }
                .benefit{
                    @include padding-left-right;
                    @include display-flex;
                    @include margin-top-bottom;
                    @include padding-bottom;
                    align-items: center;
                    .benefit-card{
                        @include display-flex-column-evenly;
                        text-align: center;
                        align-items: center;
                        font-size: 19px;
                        >*{
                            @include padding-tot;
                        }
                        span img{
                            width: 65px;
                        }
                        >img{
                            width: 80%;
                        }
                    }
                }
                .previewEvent{
                    height: 500px;
                    background-image: linear-gradient(151deg, rgba(6, 25, 231, 0.5) 35%, rgba(206, 1, 18, 0.5) 100%), url(img/previewEventImg.jpg);
                    background-size: cover;
                    text-align: center;
                    color: $white;
                    >div{
                        @include display-flex-column-center-center;
                        height: 100%;
                        .play{
                            position: relative;
                            color: $royal-blue;
                                &:hover{
                                    color: red
                                }
                        }
                        >*{
                            @include padding-tot;
                        }
                        h2{
                            @include h2;
                        }
                        h3{
                            @include h3;
                            color:  $yellow;
                        }
                    }
                }

            }
            footer{
                @include padding-left-right;
                background-color:$cold-gray;
                .footer-list{
                    @include display-flex;
                    @include padding-bottom;
                    text-align: center;
                    padding-top: 50px;
                    .description{
                        @include cardSetOfthree;
                        @include display-flex-column-center-center;
                        color: $silver;
                        img{
                            width: 80%;
                        }
                        >*{
                            @include padding-tot;
                        }
                        .social{
                            color: $burnt-sienna;
                            width: 70%;
                            ul{
                                @include display-flex;
                                list-style-type: none;
                                justify-content: space-between;
                            }
                        }
                    }
                    .recent-post{
                        @include display-flex-column-center-center;
                        @include cardSetOfthree;
                        color: $white;
                        span{
                            font-size: 20px;
                        }
                        >*{
                            @include padding-tot;
                        }
                        ul{
                            list-style-type:  none;
                            li{
                                padding: 0.5rem 0
                            }
                        }
                    }
                    .contacts{
                        @include cardSetOfthree;
                        @include display-flex-column-center-center;
                        color: $white;
                        span:nth-child(1){
                            @include uppercase;
                        }
                        span:nth-child(2){
                            color:$silver;
                        }
                        >*{
                            @include padding-tot;
                        }

                    }

                }
                .copyright{
                    @include padding-tot;
                    text-align: center;
                    color: $silver;
                    border-top: 1px solid $silver;
                    a{
                        color: $white;
                    }
                }




            }





        }
            
            

    }
}